@import '../../styles/main.scss';

.seat {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 30px;
  height: 30px;
  font-size: 0.45rem;
  margin: 1px;
  padding: 1px;

  color: #fff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  background: $active1-color;
}

.seat {
  &.active-1 {
    background: $active1-color;

    &:not(.lastWeek) {
      @media (hover: hover) {
        &:hover {
          background: $active1-hover-color;
        }
      }
    }
  }

  &.active-2 {
    background: $active2-color;
  }

  &.active-4 {
    background: $active4-color;
  }

  &.active-5:not(.lastWeek) {
    background: $active5-color;

    @media (hover: hover) {
      &:hover {
        background: $active5-hover-color;
      }
    }
  }

  &.active-5.lastWeek {
    background: $lastWeek-color;
  }

  &.active-6 {
    background: transparent;
  }

  &.lastWeek {
    cursor: default;
  }

  &.late {
    background: $late-color;
  }

  &.absent {
    background: $absent-color;
  }
}

@include md {
  .seat {
    width: 40px;
    height: 40px;
    font-size: 0.6rem;
  }
}

@include lg {
  .seat {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 0.7rem;
  }
}
