@import '../../styles/main.scss';

.seat {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 30px;
  height: 30px;
  font-size: 0.45rem;
  font-weight: 600;
  margin: 1px;
  padding: 1px;

  color: #fff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  background: $vacant-color;
}

.seat {
  &.vacant {
    background: $vacant-color;

    &:not(.lastWeek) {
      @media (hover: hover) {
        &:hover {
          background: $vacant-hover-color;
        }
      }
    }
  }

  &.disabled {
    background: $disabled-color;
  }

  &.private {
    background: $private-color;
  }

  &.reserved:not(.lastWeek) {
    background: $reserved-color;

    @media (hover: hover) {
      &:hover {
        background: $reserved-hover-color;
      }
    }
  }

  &.reserved.lastWeek {
    background: $lastWeek-color;
  }

  &.invisible {
    background: transparent;
  }

  &.lastWeek {
    cursor: default;
  }

  &.late {
    background: $late-color;
  }

  &.absent {
    background: $absent-color;
  }
}

@include md {
  .seat {
    width: 40px;
    height: 40px;
    font-size: 0.6rem;
    font-weight: 400;
  }
}

@include lg {
  .seat {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
