@import '../../styles/responsive.scss';
@import '../../styles/color.scss';

.line {
  display: flex;
  justify-content: center;

  .active-0 {
    width: 5px;
    height: 5px;
    align-self: center;
  }
}

@include md {
  .line {
    .active-0 {
      width: 10px;
      height: 10px;
    }
  }
}
