#dialog {
  :global(.MuiPaper-root) {
    margin: 24px;
    width: 550px;
    max-width: 550px;
  }

  .title {
    font-size: 24px;
    padding: 16px 24px 10px;
  }

  .actions {
    margin-top: 16px;
  }
}
