{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 120
}
