@import '../../styles/main.scss';

.participants {
  color: $active1-color;
  text-align: center;
  font-size: 14px;

  strong {
    font-weight: bolder;

    &:first-of-type {
      color: $active5-color;
    }
  }
}

@include md {
  .participants {
    font-size: 16px;
  }
}

@include lg {
  .participants {
    font-size: 18px;
  }
}
