@import '../../styles/main.scss';

.container {
  display: flex;
  justify-content: center;

  .box {
    display: flex;
    align-items: center;
    margin-right: 8px;

    > span {
      font-size: 0.8rem;
      word-break: keep-all;
    }
  }

  .seat {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 3px;

    &.vacant {
      background: $active1-color;

      &:hover {
        background: $active1-hover-color;
      }
    }

    &.disabled {
      background: $active2-color;
    }

    &.private {
      background: $active4-color;
    }

    &.reserved {
      background: $active5-color;

      @media (hover: hover) {
        &:hover {
          background: $active5-hover-color;
        }
      }
    }

    &.lastWeek {
      background: $lastWeek-color;
    }

    &.late {
      background: $late-color;
    }

    &.absent {
      background: $absent-color;
    }
  }
}

@include md {
  .container {
    .box > span {
      font-size: 0.9rem;
    }

    .seat {
      width: 18px;
      height: 18px;
    }
  }
}

@include lg {
  .container {
    .box > span {
      font-size: 1rem;
    }

    .seat {
      width: 20px;
      height: 20px;
    }
  }
}
