@import '../../styles/responsive.scss';
@import '../../styles/color.scss';

.container {
  display: flex;
  justify-content: center;

  .box {
    display: flex;
    align-items: center;
    margin-right: 8px;

    > span {
      font-size: 0.8rem;
      word-break: keep-all;
    }
  }

  .seat {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 3px;

    &.active-1 {
      background: $active1-color;

      &:hover {
        background: $active1-hover-color;
      }
    }

    &.active-2 {
      background: $active2-color;
    }

    &.active-4 {
      background: $active4-color;
    }

    &.active-5 {
      background: $active5-color;

      @media (hover: hover) {
        &:hover {
          background: $active5-hover-color;
        }
      }
    }

    &.lastWeek {
      background: $lastWeek-color;
    }

    &.late {
      background: $late-color;
    }

    &.absent {
      background: $absent-color;
    }
  }
}

@include md {
  .container .box > span {
    font-size: 1rem;
  }
}
