@import '../../styles/dialog.scss';

.dialog {
  @include dialog-default();
  @include dialog-title();
  @include dialog-textField();
  @include dialog-actions();

  .contentText {
    font-size: 14px;
    color: #800080;
    margin-bottom: 16px;
  }
}
