@import '../../styles/responsive.scss';
@import '../../styles/color.scss';

.container {
  overflow-x: auto;
  padding: 16px 8px;
}

.wrapper {
  max-width: 760px;
  min-width: 700px;
  margin: 0 auto;
}

.title {
  color: $title-color;
  font-size: 1.3rem;
  text-align: center;
  border: 2px solid $title-color;
  border-radius: 2px;
  position: relative;
}

.seatContainer {
  width: 700px;
  margin: 0 auto;
  padding: 16px 0;

  .line {
    display: flex;
    justify-content: center;

    .active-0 {
      width: 5px;
      height: 5px;
      align-self: center;
    }
  }
}

.info {
  min-width: 440px;
  margin: 8px 0 8px;
}

.count {
  color: $active1-color;
  text-align: center;

  strong {
    font-weight: bolder;

    &:first-of-type {
      color: $active5-color;
    }
  }
}

@include md {
  .wrapper {
    max-width: 1050px;
    min-width: 930px;
    width: 100%;
  }

  .title {
    font-size: 1.6rem;
  }

  .seatContainer {
    width: 930px;

    .line {
      .active-0 {
        width: 10px;
        height: 10px;
      }
    }
  }
}

@include lg {
  .wrapper {
    max-width: 1350px;
    min-width: 1200px;
  }

  .title {
    font-size: 2rem;
  }

  .seatContainer {
    width: 1200px;
  }
}
