@import '../../styles/main.scss';

.title {
  color: #ffffff;
  font-size: 1rem;
  padding: 2px;
  text-align: center;
  border-radius: 2px;
  position: relative;
  cursor: default;
  background-color: $title-color;
  margin-bottom: 16px;
}

@include md {
  .title {
    font-size: 1.2rem;
  }
}

@include lg {
  .title {
    font-size: 1.6rem;
  }
}
