@import '../../styles/main.scss';

.info {
  min-width: 420px;
  margin-bottom: 4px;
}

.checkboxContainer {
  display: flex;
  height: 32px;
  padding: 0 0 6px 4px;
}

@include md {
  .info {
    margin-top: 12px;
  }
}
