@import '../../styles/responsive.scss';

.container {
  overflow-x: auto;
  padding: 16px 8px;
}

.wrapper {
  max-width: 950px;
  min-width: 920px;
  margin: 0 auto;
}

@include md {
  .wrapper {
    max-width: 1150px;
    min-width: 1150px;
    width: 100%;
  }
}

@include lg {
  .wrapper {
    max-width: 1450px;
    min-width: 1350px;
  }
}
