$title-color: #b573bf !default;

// seat
$active1-color: #b0aaae !default;
$active1-hover-color: #000 !default;
$active2-color: #ba6bc7 !default;
$active4-color: #d8bce4 !default;
$active5-color: #0091ea !default;
$active5-hover-color: #fbc02d !default;

$lastWeek-color: #25a4cd !default;
$late-color: #ff0081 !default;
$absent-color: #512a79 !default;
