$title-color: #3ab7ed !default;

// seat
$vacant-color: #b0aaae !default;
$vacant-hover-color: #000 !default;
$disabled-color: #ba6bc7 !default;
$private-color: rgba(58, 183, 237, 0.7) !default;
$reserved-color: #3d8bf3 !default;
$reserved-hover-color: #fbc02d !default;

$lastWeek-color: #f29751 !default;
$late-color: #ff0081 !default;
$absent-color: #512a79 !default;
