$title-color: #3ab7ed !default;

// seat
$active1-color: #b0aaae !default;
$active1-hover-color: #000 !default;
$active2-color: #ba6bc7 !default;
$active4-color: rgba(58, 183, 237, 0.7) !default;
$active5-color: #3d8bf3 !default;
$active5-hover-color: #fbc02d !default;

$lastWeek-color: #f29751 !default;
$late-color: #ff0081 !default;
$absent-color: #512a79 !default;
