$title-color: #5aba85;

// seat
$active1-color: #9e9e9e;
$active1-hover-color: #000;
$active2-color: #5aba85;
$active4-color: #b4d8c3;
$active5-color: #1976d2;
$active5-hover-color: #fbc02d;
$lastWeek-color: #25a4cd;
$late-color: #ff0081;
$absent-color: #4d377b;
