$title-color: #ba6bc7;

// seat
$active1-color: #b0aaae;
$active1-hover-color: #000;
$active2-color: #ba6bc7;
$active4-color: rgba(111, 49, 211, 0.3);
$active5-color: #0091ea;
$active5-hover-color: #fbc02d;

$lastWeek-color: #25a4cd;
$late-color: #ff0081;
$absent-color: #512a79;
