@mixin dialog-default {
  :global(.MuiPaper-root) {
    margin: 24px;
    width: 550px;
    max-width: 550px;
  }

  :global(.MuiDialogActions-root) {
    padding: 8px 0;
  }
}

@mixin dialog-title {
  .title {
    font-size: 24px;
    padding: 16px 24px 10px;
  }
}

@mixin dialog-textField {
  .textFieldContainer {
    margin: 10px 0;

    .textField {
      margin: 10px 0;
    }
  }
}

@mixin dialog-actions {
  .actions {
    margin-top: 16px;
  }
}
