@import './reset.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #f9f2e7;
}
