@import '../../styles/responsive.scss';

.container {
  overflow-x: auto;
  padding: 20px 10px;

  .title {
    width: 700px;
    margin: 0 auto;
    color: #5aba85;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #5aba85;
    border-radius: 2px;
  }

  .seatContainer {
    width: 700px;
    margin: 0 auto;
    padding: 16px 0;

    .line {
      display: flex;
      justify-content: center;

      .active-0 {
        width: 5px;
        height: 5px;
        align-self: center;
      }
    }
  }

  .info {
    margin: 12px 0 8px;
  }

  .participants {
    color: #9e9e9e;
    text-align: center;

    strong {
      font-weight: bolder;

      &:first-of-type {
        color: #1976d2;
      }
    }
  }
}

@include md {
  .container {
    .title {
      width: 930px;
      font-size: 2rem;
    }

    .seatContainer {
      width: 930px;

      .line {
        .active-0 {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

@include lg {
  .container {
    .title {
      max-width: 1350px;
      min-width: 1200px;
      width: 100%;
    }

    .seatContainer {
      width: 1200px;
    }
  }
}
